<h1>Subir ficheros</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccionar ficheros</label>
    <input type="file" name="fichero" class="form-control" />
    <button class="btn">Subir</button>
</form>

<h2>@ViewBag.Mensaje</h2>
<img src="@ViewBag.url" />