<ul >
    <li >
        <a asp-controller="Caching" asp-action="MemoriaDistribuida">Dist</a>
    </li>
    <li >
        <a asp-controller="Caching" asp-action="MemoriaPersonalizada">Pers</a>
    </li>
</ul>