<h1>Mem pers</h1>

<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="10">Refresh 10</a>
<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="20">Refresh 20</a>


<h2 style="color:aquamarine">@ViewBag.Mensaje</h2>
<h2 style="color:palegreen">@ViewBag.Fecha</h2>