
<h1>Send mails</h1>
<form method="post">
    <input type="text" class="form-control" name="to"/>
    <input type="text" class="form-control" name="asunto"/>
    <textarea type="text" class="form-control" name="mensaje"></textarea>
    <button>Send mail</button>
</form>

<p>@ViewBag.Mensaje</p>